/* font-family: 'Hepta Slab', serif;
font-family: 'Montserrat', sans-serif; */

:root {
  --naranja: #ea5b13;
  --morado: #6e02d7;
  --blanco: #fff;
  --marron: #562f20;
  --celeste: #00b4dc;
  --gris: #f4f4f4;
}

.logo {
  width: 200px;
  height: 72px;
  background-image: url("./Assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 2rem;
}


header {
  background-color: var(--morado);
  border-bottom: 2px solid var(--naranja);
  z-index: 9999;
}

.nav {
  background-color: #fff;
}

.nav a {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 8px 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  border-radius: 35px;
  margin: 0 2rem;
  padding: 0.6rem 2rem;
}
.nav a:hover {
  background-color: var(--morado);
  color: var(--blanco);
}

.registratebtn {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 1rem 5rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
  font-size: 1rem;
  z-index: 9999;
  font-weight: bold;
}
.registratebtn:hover {
  background-color: var(--morado);
  color: var(--blanco);
}

/* 1 */
main > div:nth-of-type(1) {
  background-color: var(--morado);
  background-image: url("./Assets/portada_kerogo_desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 260px;
  background-position: center;
  z-index: 9999;
}
main > div:nth-of-type(1) {
  z-index: 9999;
}
main > div:nth-of-type(1) img {
  background-color: var(--celeste);
  z-index: 9999;
  width: 100%;
  height: auto;
}
main > div:nth-of-type(1) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 2.25rem;
  line-height: 33.6px;
}
/* 2 */
main > div:nth-of-type(2) {
  background-color: var(--blanco);
  z-index: 9999;
  background-image: url("./Assets/trama4.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 100%;
  padding: 3rem;
}

/* 3 */
main > div:nth-of-type(3) {
  background-color: var(--naranja);
  z-index: 9999;
  padding: 5rem;
}
main > div:nth-of-type(3) h3 {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
main > div:nth-of-type(3) p,
main > div:nth-of-type(8) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}
main > div:nth-of-type(3) p:nth-of-type(1),
main > div:nth-of-type(8) p:nth-of-type(1) {
  margin-bottom: 2rem;
}
main > div:nth-of-type(3) p:nth-of-type(2),
main > div:nth-of-type(8) p:nth-of-type(2) {
  margin-bottom: 1rem;
}

main > div:nth-of-type(3) p:nth-of-type(2),main > div:nth-of-type(3) p:nth-of-type(3),
main > div:nth-of-type(8) p:nth-of-type(2),main > div:nth-of-type(8) p:nth-of-type(3) {
  font-size: 1rem;
}

main > div:nth-of-type(3) > div:nth-of-type(1),
main > div:nth-of-type(8) > div:nth-of-type(1) {
  padding: 0 10rem;
}
main > div:nth-of-type(3) p:nth-of-type(2),
main > div:nth-of-type(3) p:nth-of-type(3) {
  font-weight: 500;
  color: var(--blanco);
}
main > div:nth-of-type(3) p:nth-of-type(2) a,
main > div:nth-of-type(3) p:nth-of-type(3) a {
  text-decoration: none;
  color: var(--blanco);
}

main > div:nth-of-type(3) div:nth-of-type(2) input {
  border-radius: 2rem;
  padding: 0.8rem 1rem;
}

main > div:nth-of-type(3) div:nth-of-type(2) input,
main > div:nth-of-type(3) div:nth-of-type(2) textarea {
  margin-bottom: 1rem;
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border: 0;
}

main > div:nth-of-type(3) div:nth-of-type(2) input::placeholder,
main > div:nth-of-type(3) div:nth-of-type(2) textarea::placeholder {
  color: var(--naranja);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

main > div:nth-of-type(3) div:nth-of-type(2) textarea {
  border-radius: 15px;
  padding: 0.8rem 1rem;
}
main > div:nth-of-type(3) div:nth-of-type(2) button {
  border-radius: 2rem;
}
main > div:nth-of-type(3) > div:nth-of-type(2) form,
main > div:nth-of-type(8) > div:nth-of-type(2) form {
  margin: 0 2.2rem;
}

/* 4 */

main > div:nth-of-type(4) {
  background-image: url("./Assets/criptomonedas.png"),
    url("./Assets/trama5.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 55%, 100%;
  background-position: 0% 100%, center 0%;
}

main > div:nth-of-type(4) div:nth-of-type(1) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-size: 2.25rem;
  font-weight: bold;
}

main > div:nth-of-type(4) div:nth-of-type(2) h2 {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
}

main
  > div:nth-of-type(4)
  div:nth-of-type(2)
  div:nth-of-type(1)
  div:nth-of-type(1) {
  padding: 8rem;
}
main
  > div:nth-of-type(4)
  div:nth-of-type(2)
  div:nth-of-type(1)
  div:nth-of-type(2) {
  background-color: var(--morado);
  padding: 8rem;
  z-index: -99;

  background-image: url("./Assets/circuloNaranja.svg");
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: 90% -25%;

  padding-top: 10rem;
}
main
  > div:nth-of-type(4)
  div:nth-of-type(2)
  div:nth-of-type(1)
  div:nth-of-type(2)
  p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
main
  > div:nth-of-type(4)
  div:nth-of-type(2)
  div:nth-of-type(1)
  div:nth-of-type(2)
  p
  img {
  width: 7.684rem;
  /* margin-bottom: 1rem; */
}

.btnsubmit {
  border: 2px solid var(--blanco);
  background-color: var(--naranja);
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
}

/* 5 video */
main > div:nth-of-type(5) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
main > div:nth-of-type(5) {
  padding: 5rem;
}
main > div:nth-of-type(5) iframe {
  width: 70vw;
  height: 60vh;
}

/* 6 */

/* todos */
main > div:nth-of-type(6) div {
  padding: 5rem;
}

/* 6.1 */
main > div:nth-of-type(6) div:nth-of-type(1) {
  background-color: var(--morado);
}
main > div:nth-of-type(6) div:nth-of-type(1) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-weight: bold;
  font-size: 2.25rem;
}
main > div:nth-of-type(6) div:nth-of-type(1) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

/* 6.2 */
main > div:nth-of-type(6) div:nth-of-type(2) {
  background-color: var(--gris);
  background-image: url("./Assets/circuloNaranja.svg");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 85% -8%;
}
main > div:nth-of-type(6) div:nth-of-type(2) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-size: 2.25rem;
  margin-top: 10rem;
}
main > div:nth-of-type(6) div:nth-of-type(2) p {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

/* 6.3 */
main > div:nth-of-type(6) div:nth-of-type(3) {
  background-color: var(--naranja);
  background-image: url("./Assets/circuloMorado.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 110% 25%;
}
main > div:nth-of-type(6) div:nth-of-type(3) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 2.25rem;
  margin-top: 10rem;
}
main > div:nth-of-type(6) div:nth-of-type(3) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

/* 8 formulario*/

main > div:nth-of-type(8) {
  background-color: var(--naranja);
  z-index: 9999;
  padding: 5rem;
}
main > div:nth-of-type(8) h3 {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
main > div:nth-of-type(8) p:nth-of-type(2),
main > div:nth-of-type(8) p:nth-of-type(3) {
  font-weight: 500;
  color: var(--blanco);
}
main > div:nth-of-type(8) p:nth-of-type(2) a,
main > div:nth-of-type(8) p:nth-of-type(3) a {
  text-decoration: none;
  color: var(--blanco);
}

main > div:nth-of-type(8) div:nth-of-type(2) input {
  border-radius: 2rem;
  padding: 0.8rem 1rem;
}

main > div:nth-of-type(8) div:nth-of-type(2) input,
main > div:nth-of-type(8) div:nth-of-type(2) textarea {
  margin-bottom: 1rem;
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border: 0;
}

main > div:nth-of-type(8) div:nth-of-type(2) input::placeholder,
main > div:nth-of-type(8) div:nth-of-type(2) textarea::placeholder {
  color: var(--naranja);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

main > div:nth-of-type(8) div:nth-of-type(2) textarea {
  border-radius: 15px;
  padding: 0.8rem 1rem;
}
main > div:nth-of-type(8) div:nth-of-type(2) button {
  border-radius: 2rem;
}

/* 9 */
main > div:nth-of-type(9) {
  /* background-color: var(--blanco); */
  background-image: url("./Assets/trama2.svg"), url("./Assets/trama3.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 100%;
  background-position: 100% 0%, center 180px;
  padding: 5rem;
}
main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
  padding-right: 70rem;
}

main > div:nth-of-type(9) > div:nth-of-type(1) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-weight: bold;
  font-size: 2.25rem;
}
main > div:nth-of-type(9) > div:nth-of-type(1) p {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

main > div:nth-of-type(9) p {
  padding-bottom: 2rem;
}

main > div:nth-of-type(9) > div:nth-of-type(2) div:nth-of-type(1),
main > div:nth-of-type(9) > div:nth-of-type(2) div:nth-of-type(2),
main > div:nth-of-type(9) > div:nth-of-type(2) div:nth-of-type(3) {
  background-color: var(--morado);
  border: 0.5rem solid var(--blanco);
  padding: 3rem;
}

main > div:nth-of-type(9) > div:nth-of-type(2) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-weight: normal;
  font-size: 2.25rem;
}

main > div:nth-of-type(9) > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

main > div:nth-of-type(9) > div:nth-of-type(2) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

main > div:nth-of-type(9) > div:nth-of-type(2) img {
  width: 60px;
  margin-bottom: 2rem;
}

/* 10 Imagen tablet*/
main > div:nth-of-type(10)>div:nth-of-type(1) {
  background-image: url("./Assets/web-kerogo.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* 11 */
main > div:nth-of-type(11) {
  padding: 5rem;
}
main > div:nth-of-type(11) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-weight: 600;
  font-size: 2.25rem;
}
main > div:nth-of-type(11) p {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

main > div:nth-of-type(11) > div:nth-of-type(1) {
  background-image: url("./Assets/Recurso4.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 80%;
  height: 700px;
}

/* 12 */
main > div:nth-of-type(12) {
  background-color: var(--gris);
  height: 500px;
  padding: 5rem;

  background-image: url("./Assets/trama1.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 100%;
}

main > div:nth-of-type(12) > div:nth-of-type(1) {
  background-image: url("./Assets/Recurso6.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

main > div:nth-of-type(12) > div:nth-of-type(2) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-weight: bold;
  font-size: 1.75rem;
}
main > div:nth-of-type(12) > div:nth-of-type(2) h2 {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

main > div:nth-of-type(12) > div:nth-of-type(2) {
  padding: 0 8rem;
}

main > div:nth-of-type(12) > div:nth-of-type(2) img {
  padding-bottom: 2rem;
  width: 5rem;
}

/* 13 */
main > div:nth-of-type(13) {
  background-color: var(--morado);
  padding: 2rem 5rem;
}
main > div:nth-of-type(13) > div:nth-of-type(1) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 2.25rem;
  margin-bottom: 0;
}

/* 14 */

main > div:nth-of-type(14) > div:nth-of-type(1) {
  overflow: auto;
}

main > div:nth-of-type(14) > div:nth-of-type(1)::-webkit-scrollbar {
  display: none;
}

/* 15 video */

main > div:nth-of-type(15) > div:nth-of-type(1) h1 {
  color: var(--naranja);
  font-family: "Hepta Slab", serif;
  font-weight: bold;
  padding-bottom: 2.25rem;
}

main > div:nth-of-type(15) > div:nth-of-type(1) p {
  color: var(--naranja);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

main > div:nth-of-type(15) {
  padding: 5rem;
}

main > div:nth-of-type(15) > div:nth-of-type(1) {
  padding: 0;
}
main > div:nth-of-type(15) > div:nth-of-type(2) iframe {
  width: 45vw;
  height: 40vh;
}
main > div:nth-of-type(15) > div:nth-of-type(2) {
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--morado);
  padding: 0;
}
footer > div:nth-of-type(1) {
  padding: 2rem;
}

footer > div:nth-of-type(1) > div:nth-of-type(1) {
  padding: 2rem;
}

footer div,
p {
  margin: 0;
}

footer h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

footer p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size:0.813rem;
}
footer small {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--blanco);
}

footer>div:nth-of-type(1)>div:nth-of-type(1) img{
  width: 1.7rem;
  margin: 0.1rem;
}

footer>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3) p{
  line-height: 2rem;
}

footer a {
  text-decoration: none;
  color: var(--blanco);
}
footer a:hover {
  color: var(--celeste);
}

/* detalles */

hr {
  border-top: 0.1rem solid #fff;
  opacity: 1;
}

::selection {
  background-color: var(--celeste);
}


/* Medias queries */

/* sm 768*/
@media screen and (max-width: 767px) {

  .logo{
    width: 120px;
  }
  .nav a {
    padding: 0.6rem 0.6rem;
    margin: 1rem;
    font-size: 0.8rem;
  }
  .logo {
    margin: 0 0.5rem;
  }
  main > div:nth-of-type(1) {
    background-image: url("./Assets/portada_kerogo_movil.jpg");
  }

  main > div:nth-of-type(3),
  main > div:nth-of-type(8) {
    padding: 2rem;
  }

  main > div:nth-of-type(3) i,
  main > div:nth-of-type(8) i {
    position: absolute;
    top: 0;
  }

  main > div:nth-of-type(3) h3,
  main > div:nth-of-type(8) h3 {
    font-size: 1.5rem;
  }
  main > div:nth-of-type(3) p,
  main > div:nth-of-type(8) p {
    font-size: 0.9rem;
  }

  main > div:nth-of-type(3) p:nth-of-type(3), main > div:nth-of-type(8) p:nth-of-type(3) {
    margin-bottom: 2rem;
  }

  main > div:nth-of-type(3) > div:nth-of-type(1),
  main > div:nth-of-type(8) > div:nth-of-type(1) {
    padding: 0 1rem;
  }

  main > div:nth-of-type(3) > div:nth-of-type(2) form,
  main > div:nth-of-type(8) > div:nth-of-type(2) form {
    margin: 0;
  }
  main > div:nth-of-type(3) div:nth-of-type(2) input::placeholder,
  main > div:nth-of-type(3) div:nth-of-type(2) textarea::placeholder,
  main > div:nth-of-type(8) div:nth-of-type(2) input::placeholder,
  main > div:nth-of-type(8) div:nth-of-type(2) textarea::placeholder {
    font-size: 1rem;
  }
  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(1),
  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2) {
    padding: 3rem;
  }

  main > div:nth-of-type(4) div:nth-of-type(1) h1 {
    font-size: 1.5rem;
  }
  main > div:nth-of-type(4) div:nth-of-type(2) h2 {
    font-size: 1rem;
  }
  main > div:nth-of-type(4) p:nth-of-type(1) {
    margin-bottom: 17rem;
  }

  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2)
    p {
    font-size: 1rem;
  }

  main > div:nth-of-type(4) {
    background-size: 75%, 100%;
  }

  main > div:nth-of-type(5) {
    padding: 3rem;
  }

  main > div:nth-of-type(5) h1 {
    font-size: 1.5rem;
  }

  main > div:nth-of-type(5) iframe {
    width: 80vw;
    height: 25vh;
  }

  main > div:nth-of-type(6) div {
    padding: 3rem;
  }
  main > div:nth-of-type(6) div:nth-of-type(1) h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  main > div:nth-of-type(6) div:nth-of-type(1) p {
    font-size: 1rem;
  }

  main > div:nth-of-type(6) div:nth-of-type(2) h1,main > div:nth-of-type(6) div:nth-of-type(3) h1{
    margin-top: 2rem;
  }

  .registratebtn {
    font-size: 1rem;
    padding: 1rem 3rem;
  }

  main > div:nth-of-type(9) {
    padding: 1rem;
    background-position: 100% 0%, center 180px;
    position: relative;
  }
  

  .box{
    background-color: var(--naranja);
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  main > div:nth-of-type(9) > div:nth-of-type(1) p {
    padding-bottom: 2rem;
    font-size: 1rem;
  }
  main > div:nth-of-type(9) > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 0;
  }
  main > div:nth-of-type(9) > div:nth-of-type(1) h1 {
    font-size: 1.5rem;
  }

  main > div:nth-of-type(9) > div:nth-of-type(2) h1 {
    font-size: 1.5rem;
  }
  main > div:nth-of-type(9) > div:nth-of-type(2) p {
    font-size: 1rem;
  }

  main > div:nth-of-type(11) {
    padding: 3rem;
  }
  main > div:nth-of-type(11) h1 {
    font-size: 1.5rem;
  }
  main > div:nth-of-type(11) p {
    font-size: 1rem;
  }

  main > div:nth-of-type(11) > div:nth-of-type(1) {
    background-image: none;
  }
  main > div:nth-of-type(11) {
    background-image: url("./Assets/Recurso4.svg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 90%;
    height: 450px;
  }

  main > div:nth-of-type(12) {
    padding: 3rem;
    height: 650px;
    background-size: 100%;
  }
  main > div:nth-of-type(12) > div:nth-of-type(1) {
    height: 250px;
  }

  main > div:nth-of-type(12) > div:nth-of-type(2) {
    padding: 0;
  }

  main > div:nth-of-type(12) > div:nth-of-type(2) h1 {
    font-size: 1.5rem;
  }
  main > div:nth-of-type(12) > div:nth-of-type(2) h2 {
    font-size: 1rem;
  }

  main > div:nth-of-type(13) {
    padding: 2rem 3rem;
  }
  main > div:nth-of-type(13) h1 {
    font-size: 2rem !important;
  }
  main > div:nth-of-type(15) {
    padding: 3rem;
  }
  main > div:nth-of-type(15) > div:nth-of-type(1) p {
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  main > div:nth-of-type(15) > div:nth-of-type(2) {
    padding: 0;
  }

  main > div:nth-of-type(15) > div:nth-of-type(2) iframe {
    width: 70vw;
    height: 10rem;
  }
  main > div:nth-of-type(15) > div:nth-of-type(1) h1 {
    font-size: 1.5rem;
  }

  footer div {
    text-align: center;
  }

  footer p:nth-of-type(1) {
    margin-bottom: 2rem;
  }
  footer p {
    font-size: 1rem;
  }

  footer small {
    font-size: 0.8rem;
  }

  footer div:nth-of-type(1),
  footer div:nth-of-type(3) {
    text-align: center !important;
  }

  footer div:nth-of-type(2) {
    margin-bottom: 1rem;
  }

  footer img {
    margin-bottom: 0.5rem;
    width: 10rem;
  }

  footer h1 {
    font-size: 1rem;
  }
}

/* md 768-1024 */
@media screen and (min-width: 767.5px) and (max-width: 1023.4px) {
  main > div:nth-of-type(1) {
    height: 15vh;
  }

  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2)
    p:nth-of-type(1) {
    margin-bottom: 18rem;
  }
  main > div:nth-of-type(5) iframe {
    height: 35vh;
  }
  main > div:nth-of-type(6) div:nth-of-type(2) h1,
  main > div:nth-of-type(6) div:nth-of-type(3) h1 {
    margin-top: 3rem;
  }
  main > div:nth-of-type(9) {
    background-position: 100% 0%, center 200px;
    position: relative;
  }
  main > div:nth-of-type(9) > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  main > div:nth-of-type(9) p {
    padding-bottom: 2rem;
  }
  main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 0;
  }

  .box{
    background-color: var(--naranja);
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
 
  main > div:nth-of-type(11) > div:nth-of-type(1) {
    height: 500px;
    background-position: center 100px;
  }

  main > div:nth-of-type(15) > div:nth-of-type(2) iframe {
    width: 80vw;
    height: 35vh;
  }
  main > div:nth-of-type(15) p {
    margin-bottom: 2rem;
  }

  footer div {
    text-align: center;
  }

  footer p:nth-of-type(1) {
    margin-bottom: 2rem;
  }

  footer small {
    font-size: 0.8rem;
  }

  footer div:nth-of-type(1),
  footer div:nth-of-type(3) {
    text-align: center !important;
  }

  footer div:nth-of-type(2) {
    margin-bottom: 1rem;
  }

  footer img {
    margin-bottom: 0.5rem;
    width: 10rem;
  }
}

/* 1024-1200 px */

@media screen and (min-width: 1023.5px) and (max-width: 1199.5px) {
  main > div:nth-of-type(1) {
    height: 20vh;
  }
  main > div:nth-of-type(4) div:nth-of-type(1) h1 {
    font-size: 2rem;
  }
  main > div:nth-of-type(4) div:nth-of-type(2) h2 {
    font-size: 1.5rem;
  }

  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(1) {
    padding: 3rem 5rem;
  }
  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2) {
    padding: 5rem;
    background-position: 90% -15%;
  }
  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2)
    p {
    font-size: 1.2rem;
  }

  main > div:nth-of-type(6) div {
    padding: 3rem;
  }
  main > div:nth-of-type(6) div:nth-of-type(1) h1 {
    padding-top: 2rem;
  }
  main > div:nth-of-type(6) div:nth-of-type(1) h1,
  main > div:nth-of-type(6) div:nth-of-type(2) h1,
  main > div:nth-of-type(6) div:nth-of-type(3) h1 {
    font-size: 2rem;
  }
  main > div:nth-of-type(6) div:nth-of-type(2) h1,
  main > div:nth-of-type(6) div:nth-of-type(3) h1 {
    margin-top: 3rem;
  }
  main > div:nth-of-type(9) {
    background-position: 100% 0%, center 100%;
  }
  main > div:nth-of-type(9) p {
    padding-bottom: 2rem;
  }

  main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 0;
  }
  main > div:nth-of-type(9) > div:nth-of-type(2) {
    /* display: flex;
    gap: 2rem; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

/* xl 1200-1400*/
@media screen and (min-width: 1200px) and (max-width: 1399.5px) {
  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(1) {
    padding: 4rem 5rem;
  }
  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2) {
    padding: 5rem;
  }

  main > div:nth-of-type(9) {
    background-position: 100% 0%, center 100%;
  }
  main > div:nth-of-type(9) > div:nth-of-type(2) {
    /* display: flex;
    gap: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  main > div:nth-of-type(11) > div:nth-of-type(1) {
    height: 600px;
  }
  main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 30rem;
  }

}

@media screen and (min-width: 1400px){
  main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 50rem;
  }
}


@media screen and (min-width: 1824px) {
  main > div:nth-of-type(1) {
    height: 35vh;
  }

  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(1) {
    padding: 10rem;
  }

  main
    > div:nth-of-type(4)
    div:nth-of-type(2)
    div:nth-of-type(1)
    div:nth-of-type(2) {
    padding: 10rem;
  }
  main > div:nth-of-type(9) > div:nth-of-type(2) div:nth-of-type(1),
  main > div:nth-of-type(9) > div:nth-of-type(2) div:nth-of-type(2),
  main > div:nth-of-type(9) > div:nth-of-type(2) div:nth-of-type(3) {
    padding: 5rem;
  }

  main > div:nth-of-type(9) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 70rem;
  }

  main > div:nth-of-type(11) > div:nth-of-type(1) {
    height: 900px;
  }
}
