/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Open Sans', sans-serif; */
*{
    font-family: 'Big Shoulders Display', cursive;
}

body{
    background-color: #2A1434;
}
.logo{
    width: 200px;
    height: 100px;
    background-image: url("./Assets/logo.svg");
    background-repeat: no-repeat;
}

nav li{
    list-style: none;
    padding: 20px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
nav li a:hover{
    color: #FCEA10;
}

h1{
    color: white;
    font-size: 4rem;
}
h3{
    color: #2A1434;
    font-size: 1.5rem;
}
h2{
    color: yellow;
    font-size: 2rem;
}
p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
p span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.img{
    background-image: url("./Assets/img1.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.foto{
    background-image: url("./Assets/foto.png");
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card{
    padding: 20px;
    margin-top: 50px;
}

.cards{
   background-color: #fff;
   border-radius: 20px;
}

.img1{
    background-image: url("./Assets/t1.png");
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img2{
    background-image: url("./Assets/t2.png");
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img3{
    background-image: url("./Assets/t3.png");
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards:hover{
    background-size: 600px;
}