
/* font-family: 'Hepta Slab', serif;
font-family: 'Montserrat', sans-serif; */

:root{
--naranja:#EA5B13;
--morado:#6e02d7;
--blanco:#fff;
--marron:#562f20;
--celeste:#00B4DC;
}

.logo{
    width: 200px;
    height: 72px;
    background-image: url("./Assets/SVG/logo.svg");
}
header{
    background-color: var(--morado);
}

.nav{
    background-color: #fff;
}

.nav a{
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 8px 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 35px;
}
.nav ul{
    list-style: none;
}

.registratebtn{
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 8px 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 35px;
}

main>div:nth-of-type(1) h1{
    color: var(--blanco);
    font-family: 'Hepta Slab', serif;
    font-size: 2rem;
    line-height: 33.6px;
}

main>div:nth-of-type(3){
    background-color: var(--naranja);
}
main>div:nth-of-type(3) h3{
    color: var(--blanco);
}
main>div:nth-of-type(3) p{
    color: var(--blanco);
    font-weight: 300;
}
main>div:nth-of-type(3) p:nth-of-type(2), main>div:nth-of-type(3) p:nth-of-type(3){
    font-weight: 500;
    color: var(--blanco);
}
main>div:nth-of-type(3) p:nth-of-type(2) a, main>div:nth-of-type(3) p:nth-of-type(3) a{
    text-decoration: none;
    color: var(--blanco);
}
