/* font-family: 'Hepta Slab', serif;
font-family: 'Montserrat', sans-serif; */

:root {
  --naranja: #ea5b13;
  --morado: #6e02d7;
  --blanco: #fff;
  --marron: #562f20;
  --celeste: #00b4dc;
  --gris: #f4f4f4;
}

.logo {
  width: 200px;
  height: 72px;
  background-image: url("./Assets/logo.svg");
}
header {
  background-color: var(--morado);
  border-bottom: 2px solid var(--naranja);
}

.nav {
  background-color: #fff;
}

.nav a {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 8px 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
}
.nav ul {
  list-style: none;
}

.registratebtn {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 8px 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
}

/* 1 */
main > div:nth-of-type(1) {
  background-color: var(--celeste);
  background-image: url("./Assets/Recurso2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
}
main > div:nth-of-type(1) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 2rem;
  line-height: 33.6px;
}

/* 3 */
main > div:nth-of-type(3) {
  background-color: var(--naranja);
}
main > div:nth-of-type(3) h3 {
  color: var(--blanco);
}
main > div:nth-of-type(3) p {
  color: var(--blanco);
  font-weight: 300;
}
main > div:nth-of-type(3) p:nth-of-type(2),
main > div:nth-of-type(3) p:nth-of-type(3) {
  font-weight: 500;
  color: var(--blanco);
}
main > div:nth-of-type(3) p:nth-of-type(2) a,
main > div:nth-of-type(3) p:nth-of-type(3) a {
  text-decoration: none;
  color: var(--blanco);
}

main > div:nth-of-type(3) div:nth-of-type(2) input {
  border-radius: 25px;
}

main > div:nth-of-type(3) div:nth-of-type(2) input::placeholder,
main > div:nth-of-type(3) div:nth-of-type(2) textarea::placeholder {
  color: var(--naranja);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main > div:nth-of-type(3) div:nth-of-type(2) textarea {
  border-radius: 15px;
}

/* 4 */
main > div:nth-of-type(4) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
}

main > div:nth-of-type(4) h2 {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/* 5 */
main > div:nth-of-type(5) div:nth-of-type(2) {
  background-color: var(--morado);
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.btnsubmit {
  border: 2px solid var(--blanco);
  background-color: var(--naranja);
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
}

/* main > div:nth-of-type(5) div:nth-of-type(1) {
  background-color: var(--gris);
  position: relative;
} */

/* 6 */

main > div:nth-of-type(6) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
  font-size: 1.5rem;
}

/* 7 */
/* 7.1 */
main > div:nth-of-type(7) div:nth-of-type(1) {
  background-color: var(--morado);
}
main > div:nth-of-type(7) div:nth-of-type(1) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 2rem;
}
main > div:nth-of-type(7) div:nth-of-type(1) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
}

/* 7.2 */
main > div:nth-of-type(7) div:nth-of-type(2) {
  background-color: var(--gris);
}
main > div:nth-of-type(7) div:nth-of-type(2) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(7) div:nth-of-type(2) p {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
}

/* 7.3 */
main > div:nth-of-type(7) div:nth-of-type(3) {
  background-color: var(--naranja);
}
main > div:nth-of-type(7) div:nth-of-type(3) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(7) div:nth-of-type(3) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
}

/* 9 */
main > div:nth-of-type(9) {
  background-color: var(--naranja);
}
main > div:nth-of-type(9) h3 {
  color: var(--blanco);
}
main > div:nth-of-type(9) p {
  color: var(--blanco);
  font-weight: 300;
}
main > div:nth-of-type(9) p:nth-of-type(2),
main > div:nth-of-type(9) p:nth-of-type(3) {
  font-weight: 500;
  color: var(--blanco);
}
main > div:nth-of-type(9) p:nth-of-type(2) a,
main > div:nth-of-type(9) p:nth-of-type(3) a {
  text-decoration: none;
  color: var(--blanco);
}

main > div:nth-of-type(9) div:nth-of-type(2) input {
  border-radius: 25px;
}

main > div:nth-of-type(9) div:nth-of-type(2) input::placeholder,
main > div:nth-of-type(9) div:nth-of-type(2) textarea::placeholder {
  color: var(--naranja);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main > div:nth-of-type(9) div:nth-of-type(2) textarea {
  border-radius: 15px;
}

/* 10 */
main > div:nth-of-type(10) {
  background-color: var(--blanco);
  background-image: url("./Assets/trama2.svg"),url("./Assets/trama3.svg");
  background-repeat: no-repeat,no-repeat;
  background-size: 50%,100%;
  background-position: 100% 0,70% 100%;
}
main > div:nth-of-type(10)>div:nth-of-type(1) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(10)>div:nth-of-type(1) p {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
}

main > div:nth-of-type(10)>div:nth-of-type(2) div:nth-of-type(1),
main > div:nth-of-type(10)>div:nth-of-type(2) div:nth-of-type(2),
main > div:nth-of-type(10)>div:nth-of-type(2) div:nth-of-type(3) {
  background-color: var(--morado);
  border: 3px solid var(--blanco);
}

main > div:nth-of-type(10)>div:nth-of-type(2) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
}

main > div:nth-of-type(10)>div:nth-of-type(2) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
}

/* 11 */

main > div:nth-of-type(11) {
  background-color: var(--blanco);
  background-image: url("./Assets/trama3.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%;
}

main > div:nth-of-type(11) div:nth-of-type(1),
main > div:nth-of-type(11) div:nth-of-type(2),
main > div:nth-of-type(11) div:nth-of-type(3) {
  background-color: var(--morado);
}

main > div:nth-of-type(11) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(11) p {
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
}
/* 12 */
main > div:nth-of-type(12) {
  background-image: url("./Assets/Recurso3.svg");
  height: 340px;
  background-repeat: no-repeat;
  background-size:cover;
}

/* 13 */
main > div:nth-of-type(13) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(13) p {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
}

main > div:nth-of-type(13) {
  background-image: url("./Assets/Recurso4.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  height: 600px;
}
/* 14 */
main > div:nth-of-type(14) {
  background-color: var(--gris);
}
main > div:nth-of-type(14) > div:nth-of-type(1) {
  background-image: url("./Assets/Recurso6.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
  height: 400px;
}

main > div:nth-of-type(14) > div:nth-of-type(2) h1 {
  color: var(--morado);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(14) > div:nth-of-type(2) h2 {
  color: var(--morado);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

main > div:nth-of-type(14) > div:nth-of-type(2) {
  height: 400px;
  background-image: url("./Assets/trama1.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

/* 15 */
main > div:nth-of-type(15) > div:nth-of-type(1) {
  background-color: var(--morado);
}
main > div:nth-of-type(15) > div:nth-of-type(1) h1 {
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 2rem;
}
/* infografía */
main > div:nth-of-type(15) > div:nth-of-type(2) > div:nth-of-type(1) {
  height: 600px;
  background-image: url("./Assets/info1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #ea5b13;
}
main > div:nth-of-type(15) > div:nth-of-type(2) > div:nth-of-type(2) {
  height: 600px;
  background-image: url("./Assets/info2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #de5227;
}
main > div:nth-of-type(15) > div:nth-of-type(2) > div:nth-of-type(3) {
  height: 600px;
  background-image: url("./Assets/info3.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #d1493a;
}

main > div:nth-of-type(15) > div:nth-of-type(2) > div:nth-of-type(4) {
  height: 600px;
  background-image: url("./Assets/info4.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #c5404e;
}

/* 16 */

main > div:nth-of-type(16) > div:nth-of-type(1) h1 {
  color: var(--naranja);
  font-family: "Hepta Slab", serif;
}
main > div:nth-of-type(16) > div:nth-of-type(1) p {
  color: var(--naranja);
  font-family: "Montserrat", sans-serif;
}

/* Footer */
footer {
  background-color: var(--morado);
}

footer h1{
  color: var(--blanco);
  font-family: "Hepta Slab", serif;
  font-size: 0.8rem;
}

footer p{
  color: var(--blanco);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

