body{
    background-color: #29bcb5;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 2rem;
}
main h1{
    color: #462f90;
    font-size: 3rem;
}
main p{
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
}

.logo{
    background-image: url(./Assets/logoValores.svg);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin: 1rem;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight:300;
}
header ul li a:hover{
    color: yellow;
}